/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 75%;
  position: absolute;
  right: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

strong {
  color: blue;
}

button{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  margin-top: 30px;
  width: 300px;
  background: #4E9CB5;
  color: #fff;
  font-size: 1rem;
}
input#query{
  width: 300px;
  height: 20px;
}
#search {
  position: absolute;
  width: 25%;
  height: 100%;
  background:  #f7f7f7;
  padding: 20px;
  border: 1px solid #999;

}

.marker-content{
  font-family: 'Montserrat', sans-serif;

  border: 1px solid #000;
  padding: 10px;
}

.marker-content a{
  line-height: 25px;

}

#title{
  font-size: 1rem;
  font-weight: 700;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.typeform{
    font-family: 'Montserrat', sans-serif;

}

.checkboxes li {
  list-style: none;
}

.checkboxes li img{
  margin: 0 10px;
  width:20px;
  height: 20px;
}

.type-form {
  margin-top: 100px;
}







